.col {
    @include e('content') {
        padding: em(20px);
        margin-top: em(10px);
        margin-bottom: em(10px);
        text-align: center;
        border: 1px solid rgba(black, 0.2);
        background-color: rgba(black, 0.1);
    }

    // 1 column
    @include e('1') {
        @include span(12 of 12);

        @include m('2') {
            @include span(6 of 12);
        }
    }

    // 2 column
    @include e('2') {
        @include span(12 of 12);
    }

    // 3 column
    @include e('3') {
        @include span(12 of 12);
    }

    // 4 column
    @include e('4') {
        @include span(12 of 12);
    }

    // 5 column
    @include e('5') {
        @include span(12 of 12);
    }

    // 6 column
    @include e('6') {
        @include span(12 of 12);
    }

    // 7 column
    @include e('7') {
        @include span(12 of 12);
    }

    // 8 column
    @include e('8') {
        @include span(12 of 12);
    }

    // 9 column
    @include e('9') {
        @include span(12 of 12);
    }

    // 10 column
    @include e('10') {
        @include span(12 of 12);
    }

    // 11 column
    @include e('11') {
        @include span(12 of 12);
    }

    // 12 column
    @include e('12') {
        @include span(12 of 12);
    }

    // 1 column
    @include breakpoint($bp-s-min) {
        @include e('1') {
            @include span(1 of 12);
        }
    }

    @include breakpoint($bp-m-min) {
        @include e('1') {
            @include span(1 of 12);
        }
    }

    @include breakpoint($bp-l-min) {
        @include e('1') {
            @include span(1 of 12);
        }
    }

    // 2 column
    @include breakpoint($bp-s-min) {
        @include e('2') {
            @include span(2 of 12);
        }
    }

    @include breakpoint($bp-m-min) {
        @include e('2') {
            @include span(2 of 12);
        }
    }

    @include breakpoint($bp-l-min) {
        @include e('2') {
            @include span(2 of 12);
        }
    }

    // 3 column
    @include breakpoint($bp-s-min) {
        @include e('3') {
            @include span(3 of 12);
        }
    }

    @include breakpoint($bp-m-min) {
        @include e('3') {
            @include span(3 of 12);
        }
    }

    @include breakpoint($bp-l-min) {
        @include e('3') {
            @include span(3 of 12);
        }
    }

    // 4 column
    @include breakpoint($bp-s-min) {
        @include e('4') {
            @include span(4 of 12);
        }
    }

    @include breakpoint($bp-m-min) {
        @include e('4') {
            @include span(4 of 12);
        }
    }

    @include breakpoint($bp-l-min) {
        @include e('4') {
            @include span(4 of 12);
        }
    }

    // 5 column
    @include breakpoint($bp-s-min) {
        @include e('5') {
            @include span(5 of 12);
        }
    }

    @include breakpoint($bp-m-min) {
        @include e('5') {
            @include span(5 of 12);
        }
    }

    @include breakpoint($bp-l-min) {
        @include e('5') {
            @include span(5 of 12);
        }
    }

    // 6 column
    @include breakpoint($bp-s-min) {
        @include e('6') {
            @include span(6 of 12);
        }
    }

    @include breakpoint($bp-m-min) {
        @include e('6') {
            @include span(6 of 12);
        }
    }

    @include breakpoint($bp-l-min) {
        @include e('6') {
            @include span(6 of 12);
        }
    }

    // 7 column
    @include breakpoint($bp-s-min) {
        @include e('7') {
            @include span(7 of 12);
        }
    }

    @include breakpoint($bp-m-min) {
        @include e('7') {
            @include span(7 of 12);
        }
    }

    @include breakpoint($bp-l-min) {
        @include e('7') {
            @include span(7 of 12);
        }
    }

    // 8 column
    @include breakpoint($bp-s-min) {
        @include e('8') {
            @include span(8 of 12);
        }
    }

    @include breakpoint($bp-m-min) {
        @include e('8') {
            @include span(8 of 12);
        }
    }

    @include breakpoint($bp-l-min) {
        @include e('8') {
            @include span(8 of 12);
        }
    }

    // 9 column
    @include breakpoint($bp-s-min) {
        @include e('9') {
            @include span(9 of 12);
        }
    }

    @include breakpoint($bp-m-min) {
        @include e('9') {
            @include span(9 of 12);
        }
    }

    @include breakpoint($bp-l-min) {
        @include e('9') {
            @include span(9 of 12);
        }
    }

    // 10 column
    @include breakpoint($bp-s-min) {
        @include e('10') {
            @include span(10 of 12);
        }
    }

    @include breakpoint($bp-m-min) {
        @include e('10') {
            @include span(10 of 12);
        }
    }

    @include breakpoint($bp-l-min) {
        @include e('10') {
            @include span(10 of 12);
        }
    }

    // 11 column
    @include breakpoint($bp-s-min) {
        @include e('11') {
            @include span(11 of 12);
        }
    }

    @include breakpoint($bp-m-min) {
        @include e('11') {
            @include span(11 of 12);
        }
    }

    @include breakpoint($bp-l-min) {
        @include e('11') {
            @include span(11 of 12);
        }
    }
}
